<nav class="bg-dark navbar">
  <h1>
    <a routerLink="['/']">Online Shop</a>
  </h1>
  <ul *ngIf="auth.isAuthenticated(); else login">
    <li routerLink="active">
      <a [routerLink]="['/admin','dashboard']">Dashboard</a>
    </li>
    <li routerLink="active">
      <a [routerLink]="['/admin','product']">Add product</a>
    </li>
    <li routerLink="active">
      <a [routerLink]="['/admin','orders']">Orders</a>
    </li>
    <li routerLink="active">
      <a href="#" (click)="logout($event)">Logout</a>
    </li>
  </ul>
  <ng-template #login>
    <ul>
      <li routerLink="active">
        <a [routerLink]="['/admin','login']">Login</a>
      </li>
    </ul>
  </ng-template>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
